# Ignorar todos los Excel salvo este
data/*.xlsx
!data/predicciones.xlsx

# Ignorar todo lo demás en data/...
data/*

# ¡Pero NO ignores estos dos JSON/CSV!
!data/resultados.json
!data/supervivientes.csv

